/* Fonts */
@font-face {
font-family: "Lobster";
src: url(../../assets/fonts/Lobster.eot); /* Pour IE9 Compat mode */
src: local('Lobster'), local('Lobster-Regular'),
     url(../../assets/fonts/Lobster.eot?) format('eot'),
     url(../../assets/fonts/Lobster.woff) format('woff'),
     url(../../assets/fonts/Lobster.otf) format("otf"),
     url(../../assets/fonts/Lobster.ttf) format("truetype");

}

@font-face {
font-family: Linux Libertine O;
src: local("Linux Libertine O"),
     url(../../assets/fonts/LinLibertine_R.otf) format("otf");
}

/* Chats */

body {
background-image:url('../../assets/images/texture.png');
background-repeat: repeat;
background-position: bottom;
background-attachment: fixed;
width:100%;
height:100%;
font-family: "Linux Libertine O";
font-size: 1.2em;
color: #595959;
text-align: center;
padding: 35px;
}

h1.top {
margin:5px;
}

form,p,span {
font-family: "Linux Libertine O";
	margin: 0;
	padding: 0;
}

b.name {
font-family: 'Lobster', cursive;
}

input {
font-family: "Linux Libertine O";
font-size: 1.2em;
background: rgba(230, 230, 250, 0.7);
border: 0 solid #ACD8F0;

}

a {
  color: rgb(219, 54, 174);
	font-family: "Linux Libertine O";
  font-size: 1.2em;
	text-decoration: none;
}

a#exit {
color: rgb(219, 54, 174);
font-family: "Linux Libertine O";
font-size: 1em;
text-decoration: none;
}

a:hover {

}

#loginform {
	margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 18px;
	background: rgba(230, 230, 250, 0.0);
	width: 80%;
	border: 0 solid rgb(219, 54, 174);
}

#loginform p {
	margin: 5px;
}

#wrapper {
	margin: 0 auto;
	padding-bottom: 25px;
	background: rgba(230, 230, 250, 0.0);
	width: 80%;
	border: 0 solid rgb(219, 54, 174);
}

#chatbox {
	text-align: left;
	margin-top:10px;
	margin-right:10%;
	margin-left:10%;
	margin-bottom: 25px;
	padding: 10px;
	background: rgba(230, 230, 250, 0.7);
	height: 330px;
	width: 80%;
  max-width: 80%;
	border: 0 solid rgb(219, 54, 174);
	overflow: auto;
}

#usermsg {
	width: 80%;
	border: 0 solid #ACD8F0;
	background: rgba(230, 230, 250, 0.7);
	margin-right:10%;
	margin-left:10%;
	padding: 10px;
}

#submit {
	width: 60px;
}

.error {
	color: rgb(219, 54, 174);
}

#menu {
	padding: 12.5px 25px 12.5px 25px;
}

.welcome {
	float: left;
}

.logout {
	float: right;
	margin-right:5%;
}

.msgln {
	margin: 0 0 2px 0;
}
